<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forward Fitness Club</title>
</head>
<body>

    <!-- Use the header area for website name or logo -->
    <header>
        Forward Fitness Club
    </header>

    <!-- Use the nav area for hyperlink to other area of website -->
    <nav>

        Home &nbsp; &nbsp;

        About Us &nbsp; &nbsp;

        Classes &nbsp; &nbsp;

        Nutrition &nbsp; &nbsp;

        Contact Us

    </nav>

    <!-- Use the main area for main content -->
    <main>

    </main>

    <!-- Use the footer area for footer content-->
    <footer>

        &copy; Copyright 2015. All Rights Reserved. <br>
        forwardfitness@club.net
        
    </footer>

</body>
</html>